@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&family=Roboto:wght@100;300;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html {
    font-size: 62.5%;
}
body { 
    background-image: url(../imagenes/background&theme/background.jpg);
    background-size: contain;
    color: white;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}
 
/*-------------------------------NAVBAR/HEADER---------------------------------*/

header {
    position: sticky;
    top: 0;
    height: 100;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(120, 120, 120, 0.3);
    align-items: center;
    border-bottom: 2px solid white;
}


nav {
    width: 80%;
}


header ul {
    display: flex;
    justify-content: space-around;
}

header ul li {
    display: inline-block;
    margin: 4px;
} 

.logo {
    border: 1px solid white;
    width: 7rem;
}

.buscador {
    color: #000;
    width: 300px;
    padding: 6px;
    height: 44px;
    border: 1px solid #000;
    border-radius: 5px;
}

.lupa {
    width: 44px;
    background-color: black;
    border: 1px solid white;

}


/*-----------------------MOVIMIENTOSOBRELAPAGINA--------------------------*/
a { 
    color: white;
    text-decoration: none;
    font-size: 300%;
}

.seccionActiva {
    color: #FF9501;
    font-size: 390%;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 4rem;
    padding: 2rem;
}

.navegacion li {
    background-color: rgb(120, 120, 120, 0.3);
    padding: 1.5rem;
}

.pieDePagina {
    background-color: rgb(120, 120, 120, 0.3);
    text-align: center;
    margin: 4rem 0 0 0;
    padding: 1rem 0 0 0;
}

.copyright {
    font-size: 150%
 }
/* ---------------------------------INDEX---------------------------------*/

.talVez {
    font-size: 350%;
    margin-left: 16rem;
 }
 
 .productosDeInteres {
    display: grid;
    padding: 3rem; 
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px 500px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

 .productosDeInteres li a img {
     width: 300px;
     height: 450px;
     border: 2rem solid rgb(120, 120, 120, 0.45);
     border-radius: 1rem;
     transition: all 0.5s;
 }
 
 .productosDeInteres li a img:hover {
     width: 350px;
     height: 500px;
 }
 

/* ---------------------------------PRODUCTOS------------------------------*/

.productoMonitores {
    margin: 0 15rem 4rem 15rem;
}

.productoAuriculares {
    margin: 0 15rem 4rem 15rem;
}

.productoTeclados {
    margin: 0 15rem 4rem 15rem;
}

.productoMouse {
    margin: 0 15rem 4rem 15rem;
}

.productosSugeridos {
    color: black;
    font-size: 250%;
    background-color: #C4C4C4;
}


.verMas {
    color: #0084E0;
    font-size: 150%;
    background-color: #C4C4C4;
}

.productosImagenes li a img {
    width: 200px;
    height: 200px;
    margin: 40px;
}
 
.headerDeProductos {
    display: flex;
    background-color: #C4C4C4;
}

.productosImagenes {
    display: flex;    
    background-color: #ffffff;
    justify-content: space-between;
}



/* ---------------------------------CONTACTO------------------------------*/

.displaynone {
    display: none;
}

.formasDeContactarnos {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 16rem;
    margin-right: 16rem;
    background-color: rgb(120, 120, 120, 0.69);
    font-size: 340%;

}

.redesContacto {
    display: flex;
    justify-content: center;
}

.redesContacto li {
    margin: 0 10rem;
}

.whatsappContacto {
    display: flex;
    justify-content: center;
}

.instagramLogoContacto {
    margin: 0 1rem;
}

.facebookLogoContacto {
    margin: 0 1rem;
}

.whatsappLogoContacto {
    margin: 0 1rem;
}

.formContenedor {
    background-image: linear-gradient(to bottom, rgba(255, 175, 64, 0.5), rgba(172, 100, 0, 0.5));
    width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    color: white;
}

.formContenedor h2 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.formContenido {
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    font-size: 18px;
    color: white;
}

.enviar {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border-radius: 4px;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    border: none
}

.enviar:hover {
    cursor:pointer
}



/*---------------------------------NOSOTROS-------------------------------*/

.sobreNosotros {
    margin: 0 15rem 4rem 15rem;
    text-align: center center;
    font-size: 400%;
}

.ideales {
    padding: 10px;
    background-color: #C4C4C4;
    color: black;
    font-size: 280%;
}

.textoDeIdeales {
    background-color: #6B6B6B;
    color: black;
    font-size: 220%;
    height: 29rem;
    padding: 10px;
}


.cardsPadre {
    display: flex;
    justify-content: center;
}

.cardMision {
    width: 20rem;
    margin-right: 10rem;
    text-align: center;
}

.cardVision {
    width: 20rem;
    margin-right: 10rem;
    text-align: center;
}

.cardValores {
    width: 20rem;
    text-align: center;
}

.algunoDeNuestrosTrabajos {
    margin: 4rem 15rem;
    font-size: 400%;
}

.imagenesPadre {
    display: flex;
    margin: 4rem;
    justify-content: center;
}

.trabajosRealizados img {
    width: 350px;
    height: 500px;
    margin-right: 1rem;
    border: 2px solid white;
}


/*---------------------------------CARRITO--------------------------------*/

.tucarritodecompra {
    background-color: white;
    color: black;
    font-size: 300%;
}

.productosDelCarrito {
    background-color: gray;
    width: 100%;
    height: 500px;
}

.botonescarrito {
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    background-color: #C4C4C4;
    padding: 1rem;
}

.botonescarrito a {
    background-color: #828282;
    padding: 1rem;
    color: black;
}

/*------------------------------MEDIAQUERIES-------------------------------*/
